.header img {

    float: left;
    width: 150px;
    height: 110px;

}
  
.header h1 {

    position: relative;
    top: 50px;
    left: 300px;
    font-size: 50px;

}
.page{

  font-family: Arial, garamond, sans-serif;

}
.page h2{

  font-size: 30px;
  
}